integration-tests/src/test/resources/META-INF/mlx.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.mlx.com/schema/mlx"

		elementFormDefault="qualified">
	<element name="mlx">
		<complexType>
			<attribute name ="id" type="string"/>
			<attribute name ="name" type="string"/>
			<attribute name ="age" type="string"/>
		</complexType>
	</element>
</schema>